.notification-container{
    display: flex;
    gap: 0.5rem;

    --orangish-red: hsl(1, 90%, 64%);
    --strong-blue: hsl(219, 85%, 26%);

    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);


    border-radius: 8px;
    padding: 0.9rem 1.5rem;
}

.not-read {
    background-color: var(--light-grayish-blue-2);
}

.sender-profile {
    width: 35px;
    height: 35px;
}

.notification-main--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.notification-main--info div {
    display: flex;
    font-size: .75rem;
}

.sender-name {
    font-weight: 800;
    margin-right: .3rem;
    cursor: pointer;
}

.notification-timestamp {
    text-align: left;
    font-size: .75rem;
    color: var(--dark-grayish-blue);
}

.post-description{
    width: fit-content;
}

.post-description .post {
    font-weight: 600;
    color: var(--very-dark-blue);
}

.notification-text {
    align-items: center;
    display: flex;
}

.group {
    color: var(--strong-blue);
    font-weight: 700;
}

.not-read--icon {
    height: 10px;
    width: 10px;
    border-radius: 30px;
    background-color: var(--orangish-red);
    margin-left: .3rem;
    align-self: flex-start;
    margin-top: .3rem;
}

.hidden {
    display: none;
}

.description-container {
    margin-top: 1rem;
    border: 1px solid var(--light-grayish-blue-2);
    padding: 0.8rem;
    border-radius: 10px;
}